<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 2em">
        <button class="btn btn-default btn-file" ngf-select="vm.fileSelected = true; vm.success = null; errorMsg=null; vm.bulkUserCreated = null" ng-model="vm.csvFile" accept="text/csv, .csv" ng-show="!vm.fileSelected">Select CSV to Create Bulk Users</button>
        <span ng-show="vm.fileSelected"> {{ vm.csvFile.name }}
          <button class="btn btn-default" ng-show="vm.fileSelected" ng-click="vm.createBulkUsers()">Create Users</button>
        </span>
        <span class="alert alert-info" role="alert" ng-show="vm.csvFile.uploadStatus">CSV file processing, please wait...</span>
      <span class="alert alert-success" role="alert" ng-show="vm.bulkUserCreated">Bulk Users creation is successful. Please refresh page.</span>
      <span class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</span>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
